html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../src/img/vintage-old-paper.jpg");
  background-color: whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  color: white;
}

#describe {
  font-weight: bold;
}
.img-thumbnail {
  background: mediumvioletred;
}